/* Clients.css */

.clientContainer {
  width: 500%;

  padding: 20px;

  background-color: #8ab9f1;
}

.clientdiv {
  text-align: center;
  margin-bottom: 20px;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.testimonial-item {
  display: flex;
  justify-content: center;
}

.testimonial-card {
  width: 100%;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonial-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.testimonial-image {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.testimonial-quote {
  margin-bottom: 10px;
}

.testimonial-author {
  color: #888;
}
