.slick-dots {
  margin-bottom: 24px; /* Adjust as needed */
}
/* Carosel.css */

/* Update the background color for the slider dots */
.slick-dots li button:before {
  color: #8ab9f1; /* Change the color to #8ab9f1 */
}

/* Update the background color for the active slider dot */
.slick-dots li.slick-active button:before {
  color: #8ab9f1; /* Change the color to #8ab9f1 */
}
/* Carosel.css */

.carosel-container {
  background-color: #8ab9f1;
  margin-bottom: 38px;
  height: 29rem; /* Set the background color to blue */
}

/* Carosel.css */
.slick-dots {
  margin-bottom: 0px;
}

.slick-thumb {
  li button:before {
    color: blue !important; /* Change color to red */
    font-size: 10px;
  }
}
